  
/*                KEY POSITIONS
  ╭────────────────────────────╮ ╭────────────────────────────╮   ╭─────────────────────────────╮ ╭─────────────────────────────╮  
  │  0   1   2   3   4   5   6 │ │  7   8   9  10  11  12  EC │   │ LC6 LC5 LC4 LC3 LC2 LC1 LC0 │ │ RC0 RC1 RC2 RC3 RC4 RC5 ENC │
  │ 13  14  15  16  17  18  19 │ │ 20  21  22  23  24  25  26 │   │ LN6 LN5 LN4 LN3 LN2 LN1 LN0 │ │ RN0 RN1 RN2 RN3 RN4 RN5 RN6 │
  │ 27  28  29  30  31  32  33 │ │ 34  35  36  37  38  39  40 │   │ LT6 LT5 LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 RT5 RT6 │
  │ 41  42  43  44  45  46  47 │ │ 48  49  50  51  52  53  54 │   │ LM6 LM5 LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 RM5 RM6 │
  │ 55  56  57  58  59  60  61 │ │ 62  63  64  65  66  67  68 │   │ LB5 LB5 LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 RB5 RB6 │
  ╰───────────────╮     69  70 │ │ 77  78     ╭───────────────╯   ╰───────────────╮     LH4 LH3 │ │ RH3 RH4     ╭───────────────╯
                  │ 71  72  73 │ │ 74  75  76 │                                   │ LH2 LH1 LH0 │ │ RH0 RH1 RH2 │
                  ╰────────────╯ ╰────────────╯                                   ╰─────────────╯ ╰─────────────╯ 
*/

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

// Hack: Make HRM combos tap-only (cf, ZMK issue #544).
#define ZMK_COMBO_8(NAME, TAP, POS, LAYERS, COMBO_MS, IDLE_MS, HOLD, SIDE)     \
  MAKE_HRM(hm_combo_##NAME, &kp, TAP, SIDE THUMBS)                             \
  ZMK_COMBO_6(NAME, &hm_combo_##NAME HOLD 0, POS, LAYERS, COMBO_MS, IDLE_MS)


//horizontal combos
//left
ZMK_COMBO(lesc,      &kp ESC,    30 31, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(ltab,      &tab_tab,   44 45, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST, LC(LMETA),    KEYS_R)
ZMK_COMBO(lcut,      &cut_macro, 58 59, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(lbkt,      &kp LBKT,   31 32, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lpar_lt,   &lpar_lt,   45 46, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST, LS(LALT),     KEYS_R)
ZMK_COMBO(lbrc,      &kp LBRC,   59 60, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)

//right
ZMK_COMBO(rbkt,      &kp RBKT,   35 36, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rpar_gt,   &rpar_gt,   49 50, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST, RS(LALT),     KEYS_L)
ZMK_COMBO(rbrc,      &kp RBRC,   63 64, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(lf9,       &kp F9,     37 38, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(runder,    &undr_undr, 50 51, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST, RS(LCTRL),    KEYS_L)
ZMK_COMBO(rapos,     &kp APOS,   64 65, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)


//vertical combos
//left
ZMK_COMBO(lat,       &kp AT,     30 44, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lhash,     &kp HASH,   31 45, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(ldllr,     &kp DLLR,   32 46, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lhash,     &kp PRCNT,  33 47, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(lgrave,    &kp GRAVE,  44 58, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lexcl,     &kp EXCL,   45 59, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lequl,     &kp EQUAL,  46 60, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)

//right
ZMK_COMBO(rcaret,    &kp CARET,  34 48, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(ramps,     &kp AMPS,   35 49, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rstar,     &kp STAR,   36 50, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rplus,     &kp PLUS,   37 51, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(lpipe,     &kp PIPE,   49 63, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rbslh,     &kp BSLH,   50 64, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rminus,    &kp MINUS,  51 65, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)


//split combos
//left
ZMK_COMBO(lf2,    &kp F2,    30 32, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lf3,    &f3_f3,    44 46, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST, LC(LALT),     KEYS_R)
ZMK_COMBO(rf5,    &kp F5,    58 60, ALL_LAYERS, COMBO_TERM_FAST, COMBO_IDLE_FAST)

//right
ZMK_COMBO(rf10,   &kp F10,   35 37, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rf11,   &f11_f11,  49 51, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST, LC(LALT),     KEYS_L)
ZMK_COMBO(rf12,   &kp F12,   63 65, HOME_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(pgUp,   &kp PG_UP, 36 37, NAVIG_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(pgDwn,  &kp PG_DN, 64 65, NAVIG_LAYER, COMBO_TERM_FAST, COMBO_IDLE_FAST)



// Define mod-morph with a *single* mod trigger for less repetition. These are used with homerow mod combos
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2)                            \
  ZMK_MOD_MORPH(NAME, mods = <(MOD_L##MOD | MOD_R##MOD)>;                      \
                bindings = <BINDING1>, <BINDING2>;)

SIMPLE_MORPH(tab_tab,   SFT, &kp TAB,   &kp TAB)
SIMPLE_MORPH(equl_excl, SFT, &kp EQUAL, &kp EXCL)
SIMPLE_MORPH(lpar_lt,   SFT, &kp LPAR,  &kp LT)

SIMPLE_MORPH(rpar_gt,   SFT, &kp RPAR,  &kp GT)
SIMPLE_MORPH(undr_undr, SFT, &kp UNDER, &kp UNDER)
SIMPLE_MORPH(dllr_at,   SFT, &kp DLLR,  &kp AT)

//for spread combos
SIMPLE_MORPH(f3_f3,     SFT, &kp F3,    &kp F3)
SIMPLE_MORPH(f11_f11,   SFT, &kp F11,   &kp F11)
SIMPLE_MORPH(f5_f6,     SFT, &kp F5,    &kp F6)
SIMPLE_MORPH(f8_f7,     SFT, &kp F8,    &kp F7)

ZMK_MACRO(cut_macro, bindings = <&kp LCTRL &kp X>; wait-ms = <0>; tap-ms = <5>;)